 <div class="container no-padding">
    <div class="row no-margin">
      <h3 class="under"><a href="#nogo">All Sections</a></h3>
    </div>
   <% if flash[:notice] %>
       <div class="alert alert-success fade in">
         <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
         <h5><strong>Info!</strong> <%= flash[:notice] if flash[:notice]%></h5>
       </div>
   <% end %>
   <% if !@sections.blank? %>
   <% @sections.each do |section| %>
     <div class="container col-sm-4">
    <div class="row">
      <button type="button" class="btn btn-info"><h2 class="under"><a href="#nogo"><%= link_to section.name ,edit_section_path(section) %></a></h2></button>
    </div>
   </div>
   <% end %>
   <% end %>
  </div>