<div class="article_block col-md-12 col-sm-12 col-xs-12 no-padding">
  <div class="container no-padding">
    <div class="row no-margin">
      <h3 class="under"><a href="#nogo">All Images</a></h3>
    </div>
  </div>
</div>